# Reproduction of Article
1. Steps:
    1. Import Data
    1. Initial Data Exploration
        1. Data Summary Table
    1. Comparison with article Data

In [39]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
root_path_report="C:\\Users\\Debora\\Documents\\01_UFU_local\\01_comp_evolutiva\\05_trabalho3\\03_relatorio\\springer\\tables\\"
root_path_data="C:\\Users\\Debora\\Documents\\01_UFU_local\\01_comp_evolutiva\\05_trabalho3\\01_dados\\02_analysis\\"

## Parse Data

In [40]:
# # Export table to txt for latex
# root_path_report = "C:\\Users\\debor\\Documents\\01_UFU_local\\01_comp_evolutiva\\01_trabalho_1\\03_relatorio\\template-latex\\tables\\"
# file_name = "representacao.txt"
# path = root_path_report + file_name
# with codecs.open(path, 'w', 'utf-8') as outfile:
#     outfile.write(tabela_df.to_latex(index=False))

# Open pickle Exec
file_name='v_0_exec.pkl'
path=root_path_data+file_name
infile = open(path,'rb')
ds_exec= pickle.load(infile)
infile.close()

# Open pickle dict class object pop
file_name='v_0_id.pkl'
path=root_path_data+file_name
infile = open(path,'rb')
ds_ind= pickle.load(infile)
infile.close()


# Unpack Data Execution
values_exec=[]
for key,value in ds_exec.items():
    # headers=["Execution","Variant","Hipervolume","Pareto Front"]
    values_exec.append([key[1],value[0],value[1],value[2]])
headers=["Execution","Variant","Hipervolume","Pareto Front"]
df_exec=pd.DataFrame(values_exec,columns=headers)

# Unpack Data per Ind
values_ind=[]
for key,value in ds_ind.items():
    # values_ind.append(value)
    values_ind.append(value[0])
    values_ind.append(value[1])
headers=["Variation","Num_exec","Solution","Total throughput [kg]", "Max total backlog [kg]", "Mean total backlog [kg]","std dev total backlog [kg]", "Median total backlog [kg]","Min total backlog [kg]", "P(total backlog ≤ 0 kg)","Max total inventory deficit [kg]", "Mean total inventory deficit [kg]","std dev inventory deficit [kg]", "Median total inventory deficit [kg]", "Min total inventory deficit [kg]","Batches [un]","Product label","Start of USP [date]","End of DSP [date]"]
df_ind=pd.DataFrame(values_ind,columns=headers)

In [41]:
# Appends to external CSV File

# Exports as csv
file_name='df_exec.csv'
path=root_path_data+file_name
headers=["Execution","Variant","Hipervolume","Pareto Front"]
# # Overwrites
# df_exec.to_csv(path,header=headers)
# Appends
df_exec.to_csv(path,header=False,mode="a")

# Exports as csv
file_name='df_ind.csv'
path=root_path_data+file_name
headers=["Variation","Num_exec","Solution","Total throughput [kg]", "Max total backlog [kg]", "Mean total backlog [kg]","std dev total backlog [kg]", "Median total backlog [kg]","Min total backlog [kg]", "P(total backlog ≤ 0 kg)","Max total inventory deficit [kg]", "Mean total inventory deficit [kg]","std dev inventory deficit [kg]", "Median total inventory deficit [kg]", "Min total inventory deficit [kg]","Batches [un]","Product label","Start of USP [date]","End of DSP [date]"]
# # Overwrites
# df_ind.to_csv(path,header=headers)
# Appends
df_ind.to_csv(path,header=False,mode="a")

### Import full dataset with Article Data

In [42]:
# Import as csv
file_name='df_exec.csv'
path=root_path_data+file_name
df_fexec=pd.read_csv(path,index_col=0)

In [43]:
# Import as csv
file_name='df_ind.csv'
path=root_path_data+file_name
df_find=pd.read_csv(path,index_col=0)

## Initial Data Exploration

In [44]:
df_fexec.head()

,Execution,Variant,Hipervolume,Pareto Front
0,0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.034229,[[ 239.9 2271.85220844]\n [ 267. ...
1,1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.030942,[[ 295.8 2270.37999326]\n [ 305.9 ...
2,2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.038414,[[ 325.5 2259.141829 ]\n [ 268.9 ...
3,3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.038129,[[ 18.6 2270.37746517]\n [ 34.3 ...
0,0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.037003,[[ 74.4 2273.36260703]\n [ 373.7 ...

In [45]:
df_fexec.describe()

       Execution  Hipervolume
count  15.000000    15.000000
mean    1.200000     0.058754
std     1.207122     0.059293
min     0.000000     0.030942
25%     0.000000     0.035295
50%     1.000000     0.036056
75%     2.000000     0.038272
max     3.000000     0.204660

In [46]:
df_find

,Variation,Num_exec,Solution,Total throughput [kg],Max total backlog [kg],Mean total backlog [kg],std dev total backlog [kg],Median total backlog [kg],Min total backlog [kg],P(total backlog ≤ 0 kg),Max total inventory deficit [kg],Mean total inventory deficit [kg],std dev inventory deficit [kg],Median total inventory deficit [kg],Min total inventory deficit [kg],Batches [un],Product label,Start of USP [date],End of DSP [date]
8,Article,Article,X,539.3,8.200000,0.200000,0.600000,0.000000,0.0,0.820000,683.40,432.600000,58.600000,424.400000,259.4,0,0,0,0
9,Article,Article,Y,601.5,16.000000,7.100000,4.300000,0.000000,0.0,0.500000,786.00,558.600000,59.000000,551.700000,355.6,0,0,0,0
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,465.5,33.611806,11.405986,9.247870,12.209427,0.0,410.615483,112.50,64.255626,33.537375,73.400000,0.0,[39 42 1 1 1],[1 2 1 3 1],['2016-12-01' '2018-03-27' '2019-03-11' '2019-...,['2018-03-11' '2019-03-01' '2019-04-27' '2019-...
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,6.2,33.565158,11.248017,9.692592,11.565438,0.0,404.928621,112.50,63.067730,36.210689,74.950000,0.0,[2],[0],['2016-12-01'],['2017-01-29']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,341.5,33.367780,11.395156,9.115948,10.829642,0.0,410.225626,112.50,63.645972,33.645139,73.400000,0.0,[29 33],[1 2],['2016-12-01' '2017-12-07'],['2017-11-21' '2018-09-09']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,80.3,33.473526,11.246084,8.875640,11.496151,0.0,404.859027,112.50,63.048540,32.710653,73.400000,0.0,[5 9],[2 1],['2016-12-01' '2017-03-01'],['2017-02-19' '2017-07-14']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,520.8,33.262990,11.418696,9.527837,10.879723,0.0,411.073047,112.50,63.883258,34.995468,74.298333,0.0,[43 2 40],[1 0 1],['2016-12-01' '2018-05-10' '2018-07-18'],['2018-04-24' '2018-07-08' '2019-11-06']
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,50.6,33.562294,11.231330,8.879912,10.932293,0.0,404.327884,112.50,62.717926,32.761368,73.400000,0.0,[5 4],[1 2],['2016-12-01' '2017-03-18'],['2017-03-02' '2017-05-30']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,561.9,33.343804,11.458467,9.523914,11.521288,0.0,412.504801,112.50,64.634830,34.259611,74.950000,0.0,[29 21 43],[1 3 1],['2016-12-01' '2017-12-11' '2018-07-05'],['2017-11-21' '2018-06-25' '2019-11-26']
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,6.2,33.473526,11.218306,9.677763,11.496151,0.0,403.859027,112.50,63.062290,36.212344,74.950000,0.0,[2],[0],['2016-12-01'],['2017-01-29']
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,540.1,33.447665,11.462736,9.098826,11.506837,0.0,412.658508,112.50,64.069438,33.512085,73.400000,0.0,[39 9 41],[1 2 1],['2016-12-01' '2018-03-27' '2018-07-23'],['2018-03-11' '2018-07-13' '2019-11-22']
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,34.3,33.393946,11.288014,9.302279,10.795001,0.0,406.368494,112.50,63.126379,34.146813,68.660804,0.0,[7],[2],['2016-12-01'],['2017-03-05']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,550.7,33.524146,11.458039,9.543447,11.500759,0.0,412.489405,112.50,64.179746,34.963194,74.950000,0.0,[43 39 15],[1 2 1],['2016-12-01' '2018-05-10' '2019-04-03'],['2018-04-24' '2019-03-24' '2019-10-21']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,19.6,33.554222,11.377530,9.094176,10.878639,0.0,409.591086,112.50,63.649447,33.664914,73.331932,0.0,[1 3],[0 3],['2016-12-01' '2017-02-11'],['2017-01-22' '2017-04-22']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,498.8,33.302408,11.427588,9.532180,10.949304,0.0,411.393155,112.50,64.337764,34.328505,74.397455,0.0,[ 5 31 11 40],[2 1 0 1],['2016-12-01' '2017-03-01' '2018-03-29' '2018-...,['2017-02-19' '2018-03-13' '2018-07-29' '2019-...
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,144.0,33.496439,11.221616,9.317931,11.494776,0.0,403.978175,112.50,62.998672,35.039756,73.400000,0.0,[18 9],[2 1],['2016-12-01' '2017-05-31'],['2017-05-21' '2017-10-13']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,519.9,33.539826,11.471166,9.538477,11.513878,0.0,412.961993,112.50,64.659022,34.259912,74.950000,0.0,[ 3 38 12 34],[2 1 2 1],['2016-12-01' '2017-02-15' '2018-05-31' '2018-...,['2017-02-05' '2018-05-15' '2018-10-07' '2019-...
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,118.7,33.448503,11.254997,9.513854,10.923170,0.0,405.179883,112.50,63.098261,35.166263,72.057487,0.0,[ 4 5 3 12],[2 1 0 2],['2016-12-01' '2017-02-22' '2017-06-09' '2017-...,['2017-02-12' '2017-05-24' '2017-08-14' '2018-...
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,540.1,33.447665,11.462736,9.098826,11.506837,0.0,412.658508,112.50,64.069438,33.512085,73.400000,0.0,[39 9 41],[1 2 1],['2016-12-01' '2018-03-27' '2018-07-23'],['2018-03-11' '2018-07-13' '2019-11-22']
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,34.3,33.393946,11.288014,9.302279,10.795001,0.0,406.368494,112.50,63.126379,34.146813,68.660804,0.0,[7],[2],['2016-12-01'],['2017-03-05']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,550.7,33.524146,11.458039,9.543447,11.500759,0.0,412.489405,112.50,64.179746,34.963194,74.950000,0.0,[43 39 15],[1 2 1],['2016-12-01' '2018-05-10' '2019-04-03'],['2018-04-24' '2019-03-24' '2019-10-21']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,19.6,33.554222,11.377530,9.094176,10.878639,0.0,409.591086,112.50,63.649447,33.664914,73.331932,0.0,[1 3],[0 3],['2016-12-01' '2017-02-11'],['2017-01-22' '2017-04-22']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,498.8,33.302408,11.427588,9.532180,10.949304,0.0,411.393155,112.50,64.337764,34.328505,74.397455,0.0,[ 5 31 11 40],[2 1 0 1],['2016-12-01' '2017-03-01' '2018-03-29' '2018-...,['2017-02-19' '2018-03-13' '2018-07-29' '2019-...
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,144.0,33.496439,11.221616,9.317931,11.494776,0.0,403.978175,112.50,62.998672,35.039756,73.400000,0.0,[18 9],[2 1],['2016-12-01' '2017-05-31'],['2017-05-21' '2017-10-13']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,519.9,33.539826,11.471166,9.538477,11.513878,0.0,412.961993,112.50,64.659022,34.259912,74.950000,0.0,[ 3 38 12 34],[2 1 2 1],['2016-12-01' '2017-02-15' '2018-05-31' '2018-...,['2017-02-05' '2018-05-15' '2018-10-07' '2019-...
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,118.7,33.448503,11.254997,9.513854,10.923170,0.0,405.179883,112.50,63.098261,35.166263,72.057487,0.0,[ 4 5 3 12],[2 1 0 2],['2016-12-01' '2017-02-22' '2017-06-09' '2017-...,['2017-02-12' '2017-05-24' '2017-08-14' '2018-...
0,"100,1000,2,0.5,(0.04, 0.61, 0.77, 0.47)",0,X,404.4,33.463069,11.200360,9.004555,12.154680,0.0,403.212973,112.50,62.789220,33.413002,73.400000,0.0,[22 3 45 7 4 7 2],[0 1 2 1 2 0 1],['2016-12-01' '2017-06-28' '2017-09-21' '2018-...,['2017-06-18' '2017-09-05' '2018-09-16' '2019-...
1,"100,1000,2,0.5,(0.04, 0.61, 0.77, 0.47)",0,Y,624.1,33.172048,11.384406,9.206648,12.069225,0.0,409.838612,112.50,63.795723,34.237806,73.400000,0.0,[50 24 47],[2 1 2],['2016-12-01' '2018-01-10' '2018-11-22'],['2017-12-31' '2018-11-06' '2019-12-01']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,11.1,10.649017,2.323495,2.762216,1.329027,0.0,83.645809,33.55,17.133641,10.869000,20.590908,0.0,[9 8],[2 1],['2016-12-01' '2017-03-29'],['2017-03-19' '2017-07-31']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,15.9,10.516891,2.335388,2.778178,1.300849,0.0,84.073958,33.55,17.128884,10.873730,20.598520,0.0,[5 2],[0 2],['2016-12-01' '2017-03-07'],['2017-02-19' '2017-05-05']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,11.1,10.649017,2.323495,2.762216,1.329027,0.0,83.645809,33.55,17.133641,10.869000,20.590908,0.0,[9 8],[2 1],['2016-12-01' '2017-03-29'],['2017-03-19' '2017-07-31']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,15.9,10.516891,2.335388,2.778178,1.300849,0.0,84.073958,33.55,17.128884,10.873730,20.598520,0.0,[5 2],[0 2],['2016-12-01' '2017-03-07'],['2017-02-19' '2017-05-05']

In [47]:
df_find.loc[df_find.Variation!="Article"].describe()

,Total throughput [kg],Max total backlog [kg],Mean total backlog [kg],std dev total backlog [kg],Median total backlog [kg],Min total backlog [kg],P(total backlog ≤ 0 kg),Max total inventory deficit [kg],Mean total inventory deficit [kg],std dev inventory deficit [kg],Median total inventory deficit [kg],Min total inventory deficit [kg]
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.0,30.000000,30.000000,30.000000,30.000000,30.000000,30.0
mean,265.590000,30.401404,10.148265,8.457194,9.984617,0.0,365.337535,101.973333,57.455454,31.187727,66.407418,0.0
std,239.823026,7.906988,3.120595,2.279820,3.481513,0.0,112.341421,27.296639,16.097514,8.147517,18.340510,0.0
min,6.200000,10.516891,2.323495,2.762216,1.300849,0.0,83.645809,33.550000,17.128884,10.869000,20.590908,0.0
25%,23.275000,33.312757,11.224045,9.094176,10.878639,0.0,404.065603,112.500000,63.011139,33.512085,72.376099,0.0
50%,144.000000,33.448503,11.332772,9.302279,11.222040,0.0,407.979790,112.500000,63.386176,34.192310,73.400000,0.0
75%,519.900000,33.524146,11.427588,9.531094,11.506837,0.0,411.393155,112.500000,64.152169,34.963194,74.397455,0.0
max,624.100000,33.611806,11.471166,9.692592,12.209427,0.0,412.961993,112.500000,64.659022,36.212344,74.950000,0.0