# Reproduction of Article
1. Steps:
    1. Import Data
    1. Initial Data Exploration
        1. Data Summary Table
    1. Comparison with article Data

In [61]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
root_path_report="C:\\Users\\Debora\\Documents\\01_UFU_local\\01_comp_evolutiva\\05_trabalho3\\03_relatorio\\springer\\tables\\"
root_path_data="C:\\Users\\Debora\\Documents\\01_UFU_local\\01_comp_evolutiva\\05_trabalho3\\01_dados\\02_analysis\\"

## Parse Data

In [62]:
# # Export table to txt for latex
# root_path_report = "C:\\Users\\debor\\Documents\\01_UFU_local\\01_comp_evolutiva\\01_trabalho_1\\03_relatorio\\template-latex\\tables\\"
# file_name = "representacao.txt"
# path = root_path_report + file_name
# with codecs.open(path, 'w', 'utf-8') as outfile:
#     outfile.write(tabela_df.to_latex(index=False))

# Open pickle Exec
file_name='v_0_exec.pkl'
path=root_path_data+file_name
infile = open(path,'rb')
ds_exec= pickle.load(infile)
infile.close()

# Open pickle dict class object pop
file_name='v_0_id.pkl'
path=root_path_data+file_name
infile = open(path,'rb')
ds_ind= pickle.load(infile)
infile.close()

# Unpack Data Execution
# values_exec=[]
# for key,value in ds_exec.items():
#     # headers=["Execution","Variant","Hipervolume","Pareto Front"]
#     values_exec.append([key[1],value[0],value[1],value[2]])
headers=["Execution","Variant","Hipervolume","Pareto Front"]
df_exec=pd.DataFrame(ds_exec,columns=headers)

# Unpack Data per Ind
# values_ind=[]
# for key,value in ds_ind.items():
#     # values_ind.append(value)
#     values_ind.append(value[0])
#     values_ind.append(value[1])
# headers=["Execution","Variation","Solution","Total throughput [kg]", "Max total backlog [kg]", "Mean total backlog [kg]","std dev total backlog [kg]", "Median total backlog [kg]","Min total backlog [kg]", "P(total backlog ≤ 0 kg)","Max total inventory deficit [kg]", "Mean total inventory deficit [kg]","std dev inventory deficit [kg]", "Median total inventory deficit [kg]", "Min total inventory deficit [kg]","Batches [un]","Product label","Start of USP [date]","End of DSP [date]"]
headers=["Execution","Variation","Solution","Total throughput [kg]", "Max total backlog [kg]", "Mean total backlog [kg]","std dev total backlog [kg]", "Median total backlog [kg]","Min total backlog [kg]", "P(total backlog ≤ 0 kg)","Max total inventory deficit [kg]", "Mean total inventory deficit [kg]","std dev inventory deficit [kg]", "Median total inventory deficit [kg]", "Min total inventory deficit [kg]","Total Deficit [kg]","Batches [un]","Product label","Start of USP [date]","End of DSP [date]"]

df_ind=pd.DataFrame(ds_ind,columns=headers)
df_ind

,Execution,Variation,Solution,Total throughput [kg],Max total backlog [kg],Mean total backlog [kg],std dev total backlog [kg],Median total backlog [kg],Min total backlog [kg],P(total backlog ≤ 0 kg),Max total inventory deficit [kg],Mean total inventory deficit [kg],std dev inventory deficit [kg],Median total inventory deficit [kg],Min total inventory deficit [kg],Total Deficit [kg],Batches [un],Product label,Start of USP [date],End of DSP [date]
0,0,"front_vio,tour_vio,rein_vio,vio_unit_month_pro...",X,404.9,12.450271,1.388745,3.180351,0.0,0.0,199.979305,44.0,8.085272,12.558607,0.0,0.0,0.0,"[33, 20, 66]","[0, 2, 0]","[2016-12-01, 2017-09-19, 2018-04-08]","[2017-09-03, 2018-03-23, 2019-08-28]"
1,0,"front_vio,tour_vio,rein_vio,vio_unit_month_pro...",Y,591.5,10.813447,0.490037,1.722743,0.0,0.0,70.565385,27.9,4.131242,6.639844,0.0,0.0,0.0,"[33, 39, 59]","[3, 0, 2]","[2016-12-01, 2017-09-25, 2018-08-25]","[2017-09-07, 2018-08-09, 2019-11-26]"
2,0,"front_vio,tour_vio,rein_vio,vio_unit_month_pro...",X,438.9,10.460599,0.457257,1.650465,0.0,0.0,65.845030,27.9,4.063711,7.315433,0.0,0.0,0.0,"[33, 19, 53]","[3, 2, 0]","[2016-12-01, 2017-09-25, 2018-04-07]","[2017-09-07, 2018-03-22, 2019-05-28]"
3,0,"front_vio,tour_vio,rein_vio,vio_unit_month_pro...",Y,595.7,10.403811,0.951675,2.509421,0.0,0.0,137.041167,34.1,5.764387,10.568579,0.0,0.0,0.0,"[33, 20, 51]","[3, 2, 1]","[2016-12-01, 2017-09-25, 2018-04-08]","[2017-09-07, 2018-03-29, 2019-11-26]"

In [64]:
# Appends to external CSV File

# Exports as csv
file_name='df_exec.csv'
path=root_path_data+file_name
headers=["Execution","Variant","Hipervolume","Pareto Front"]
# # Overwrites
# df_exec.to_csv(path,header=headers)
# Appends
df_exec.to_csv(path,header=False,mode="a")

# Exports as csv
file_name='df_ind.csv'
path=root_path_data+file_name
headers=["Variation","Num_exec","Solution","Total throughput [kg]", "Max total backlog [kg]", "Mean total backlog [kg]","std dev total backlog [kg]", "Median total backlog [kg]","Min total backlog [kg]", "P(total backlog ≤ 0 kg)","Max total inventory deficit [kg]", "Mean total inventory deficit [kg]","std dev inventory deficit [kg]", "Median total inventory deficit [kg]", "Min total inventory deficit [kg]","Batches [un]","Product label","Start of USP [date]","End of DSP [date]"]
# # Overwrites
# df_ind.to_csv(path,header=headers)
# Appends
df_ind.to_csv(path,header=False,mode="a")

### Import full dataset with Article Data

In [59]:
# Import as csv
file_name='df_exec.csv'
path=root_path_data+file_name
df_fexec=pd.read_csv(path,index_col=0)

In [60]:
# Import as csv
file_name='df_ind.csv'
path=root_path_data+file_name
df_find=pd.read_csv(path,index_col=0)

ParserError: Error tokenizing data. C error: Expected 20 fields in line 42, saw 21

## Initial Data Exploration

In [49]:
df_fexec.head()

,Execution,Variant,Hipervolume,Pareto Front
0,0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.034229,[[ 239.9 2271.85220844]\n [ 267. ...
1,1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.030942,[[ 295.8 2270.37999326]\n [ 305.9 ...
2,2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.038414,[[ 325.5 2259.141829 ]\n [ 268.9 ...
3,3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.038129,[[ 18.6 2270.37746517]\n [ 34.3 ...
0,0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0.037003,[[ 74.4 2273.36260703]\n [ 373.7 ...

In [50]:
df_fexec.describe()

       Execution  Hipervolume
count  21.000000    21.000000
mean    0.857143     0.100945
std     1.152637     0.084468
min     0.000000     0.030942
25%     0.000000     0.035932
50%     0.000000     0.038129
75%     2.000000     0.204660
max     3.000000     0.208341

In [51]:
df_find

,Variation,Num_exec,Solution,Total throughput [kg],Max total backlog [kg],Mean total backlog [kg],std dev total backlog [kg],Median total backlog [kg],Min total backlog [kg],P(total backlog ≤ 0 kg),Max total inventory deficit [kg],Mean total inventory deficit [kg],std dev inventory deficit [kg],Median total inventory deficit [kg],Min total inventory deficit [kg],Batches [un],Product label,Start of USP [date],End of DSP [date]
8,Article,Article,X,539.3,8.200000,0.200000,0.600000,0.000000,0.0,0.820000,683.400000,432.600000,5.860000e+01,424.400000,259.400000,0,0,0,0
9,Article,Article,Y,601.5,16.000000,7.100000,4.300000,0.000000,0.0,0.500000,786.000000,558.600000,5.900000e+01,551.700000,355.600000,0,0,0,0
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,465.5,33.611806,11.405986,9.247870,12.209427,0.0,410.615483,112.500000,64.255626,3.353737e+01,73.400000,0.000000,[39 42 1 1 1],[1 2 1 3 1],['2016-12-01' '2018-03-27' '2019-03-11' '2019-...,['2018-03-11' '2019-03-01' '2019-04-27' '2019-...
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,6.2,33.565158,11.248017,9.692592,11.565438,0.0,404.928621,112.500000,63.067730,3.621069e+01,74.950000,0.000000,[2],[0],['2016-12-01'],['2017-01-29']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,341.5,33.367780,11.395156,9.115948,10.829642,0.0,410.225626,112.500000,63.645972,3.364514e+01,73.400000,0.000000,[29 33],[1 2],['2016-12-01' '2017-12-07'],['2017-11-21' '2018-09-09']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,80.3,33.473526,11.246084,8.875640,11.496151,0.0,404.859027,112.500000,63.048540,3.271065e+01,73.400000,0.000000,[5 9],[2 1],['2016-12-01' '2017-03-01'],['2017-02-19' '2017-07-14']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,520.8,33.262990,11.418696,9.527837,10.879723,0.0,411.073047,112.500000,63.883258,3.499547e+01,74.298333,0.000000,[43 2 40],[1 0 1],['2016-12-01' '2018-05-10' '2018-07-18'],['2018-04-24' '2018-07-08' '2019-11-06']
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,50.6,33.562294,11.231330,8.879912,10.932293,0.0,404.327884,112.500000,62.717926,3.276137e+01,73.400000,0.000000,[5 4],[1 2],['2016-12-01' '2017-03-18'],['2017-03-02' '2017-05-30']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,561.9,33.343804,11.458467,9.523914,11.521288,0.0,412.504801,112.500000,64.634830,3.425961e+01,74.950000,0.000000,[29 21 43],[1 3 1],['2016-12-01' '2017-12-11' '2018-07-05'],['2017-11-21' '2018-06-25' '2019-11-26']
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,6.2,33.473526,11.218306,9.677763,11.496151,0.0,403.859027,112.500000,63.062290,3.621234e+01,74.950000,0.000000,[2],[0],['2016-12-01'],['2017-01-29']
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,540.1,33.447665,11.462736,9.098826,11.506837,0.0,412.658508,112.500000,64.069438,3.351208e+01,73.400000,0.000000,[39 9 41],[1 2 1],['2016-12-01' '2018-03-27' '2018-07-23'],['2018-03-11' '2018-07-13' '2019-11-22']
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,34.3,33.393946,11.288014,9.302279,10.795001,0.0,406.368494,112.500000,63.126379,3.414681e+01,68.660804,0.000000,[7],[2],['2016-12-01'],['2017-03-05']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,550.7,33.524146,11.458039,9.543447,11.500759,0.0,412.489405,112.500000,64.179746,3.496319e+01,74.950000,0.000000,[43 39 15],[1 2 1],['2016-12-01' '2018-05-10' '2019-04-03'],['2018-04-24' '2019-03-24' '2019-10-21']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,19.6,33.554222,11.377530,9.094176,10.878639,0.0,409.591086,112.500000,63.649447,3.366491e+01,73.331932,0.000000,[1 3],[0 3],['2016-12-01' '2017-02-11'],['2017-01-22' '2017-04-22']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,498.8,33.302408,11.427588,9.532180,10.949304,0.0,411.393155,112.500000,64.337764,3.432850e+01,74.397455,0.000000,[ 5 31 11 40],[2 1 0 1],['2016-12-01' '2017-03-01' '2018-03-29' '2018-...,['2017-02-19' '2018-03-13' '2018-07-29' '2019-...
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,144.0,33.496439,11.221616,9.317931,11.494776,0.0,403.978175,112.500000,62.998672,3.503976e+01,73.400000,0.000000,[18 9],[2 1],['2016-12-01' '2017-05-31'],['2017-05-21' '2017-10-13']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,519.9,33.539826,11.471166,9.538477,11.513878,0.0,412.961993,112.500000,64.659022,3.425991e+01,74.950000,0.000000,[ 3 38 12 34],[2 1 2 1],['2016-12-01' '2017-02-15' '2018-05-31' '2018-...,['2017-02-05' '2018-05-15' '2018-10-07' '2019-...
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,118.7,33.448503,11.254997,9.513854,10.923170,0.0,405.179883,112.500000,63.098261,3.516626e+01,72.057487,0.000000,[ 4 5 3 12],[2 1 0 2],['2016-12-01' '2017-02-22' '2017-06-09' '2017-...,['2017-02-12' '2017-05-24' '2017-08-14' '2018-...
0,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,X,540.1,33.447665,11.462736,9.098826,11.506837,0.0,412.658508,112.500000,64.069438,3.351208e+01,73.400000,0.000000,[39 9 41],[1 2 1],['2016-12-01' '2018-03-27' '2018-07-23'],['2018-03-11' '2018-07-13' '2019-11-22']
1,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",0,Y,34.3,33.393946,11.288014,9.302279,10.795001,0.0,406.368494,112.500000,63.126379,3.414681e+01,68.660804,0.000000,[7],[2],['2016-12-01'],['2017-03-05']
2,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,X,550.7,33.524146,11.458039,9.543447,11.500759,0.0,412.489405,112.500000,64.179746,3.496319e+01,74.950000,0.000000,[43 39 15],[1 2 1],['2016-12-01' '2018-05-10' '2019-04-03'],['2018-04-24' '2019-03-24' '2019-10-21']
3,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",1,Y,19.6,33.554222,11.377530,9.094176,10.878639,0.0,409.591086,112.500000,63.649447,3.366491e+01,73.331932,0.000000,[1 3],[0 3],['2016-12-01' '2017-02-11'],['2017-01-22' '2017-04-22']
4,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,X,498.8,33.302408,11.427588,9.532180,10.949304,0.0,411.393155,112.500000,64.337764,3.432850e+01,74.397455,0.000000,[ 5 31 11 40],[2 1 0 1],['2016-12-01' '2017-03-01' '2018-03-29' '2018-...,['2017-02-19' '2018-03-13' '2018-07-29' '2019-...
5,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",2,Y,144.0,33.496439,11.221616,9.317931,11.494776,0.0,403.978175,112.500000,62.998672,3.503976e+01,73.400000,0.000000,[18 9],[2 1],['2016-12-01' '2017-05-31'],['2017-05-21' '2017-10-13']
6,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,X,519.9,33.539826,11.471166,9.538477,11.513878,0.0,412.961993,112.500000,64.659022,3.425991e+01,74.950000,0.000000,[ 3 38 12 34],[2 1 2 1],['2016-12-01' '2017-02-15' '2018-05-31' '2018-...,['2017-02-05' '2018-05-15' '2018-10-07' '2019-...
7,"100,1000,2,0.11,(0.04, 0.61, 0.77, 0.47)",3,Y,118.7,33.448503,11.254997,9.513854,10.923170,0.0,405.179883,112.500000,63.098261,3.516626e+01,72.057487,0.000000,[ 4 5 3 12],[2 1 0 2],['2016-12-01' '2017-02-22' '2017-06-09' '2017-...,['2017-02-12' '2017-05-24' '2017-08-14' '2018-...
0,"100,1000,2,0.5,(0.04, 0.61, 0.77, 0.47)",0,X,404.4,33.463069,11.200360,9.004555,12.154680,0.0,403.212973,112.500000,62.789220,3.341300e+01,73.400000,0.000000,[22 3 45 7 4 7 2],[0 1 2 1 2 0 1],['2016-12-01' '2017-06-28' '2017-09-21' '2018-...,['2017-06-18' '2017-09-05' '2018-09-16' '2019-...
1,"100,1000,2,0.5,(0.04, 0.61, 0.77, 0.47)",0,Y,624.1,33.172048,11.384406,9.206648,12.069225,0.0,409.838612,112.500000,63.795723,3.423781e+01,73.400000,0.000000,[50 24 47],[2 1 2],['2016-12-01' '2018-01-10' '2018-11-22'],['2017-12-31' '2018-11-06' '2019-12-01']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,11.1,10.649017,2.323495,2.762216,1.329027,0.0,83.645809,33.550000,17.133641,1.086900e+01,20.590908,0.000000,[9 8],[2 1],['2016-12-01' '2017-03-29'],['2017-03-19' '2017-07-31']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,15.9,10.516891,2.335388,2.778178,1.300849,0.0,84.073958,33.550000,17.128884,1.087373e+01,20.598520,0.000000,[5 2],[0 2],['2016-12-01' '2017-03-07'],['2017-02-19' '2017-05-05']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,11.1,10.649017,2.323495,2.762216,1.329027,0.0,83.645809,33.550000,17.133641,1.086900e+01,20.590908,0.000000,[9 8],[2 1],['2016-12-01' '2017-03-29'],['2017-03-19' '2017-07-31']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,15.9,10.516891,2.335388,2.778178,1.300849,0.0,84.073958,33.550000,17.128884,1.087373e+01,20.598520,0.000000,[5 2],[0 2],['2016-12-01' '2017-03-07'],['2017-02-19' '2017-05-05']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,11.1,10.649017,2.323495,2.762216,1.329027,0.0,83.645809,33.550000,17.133641,1.086900e+01,20.590908,0.000000,[9 8],[2 1],['2016-12-01' '2017-03-29'],['2017-03-19' '2017-07-31']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,15.9,10.516891,2.335388,2.778178,1.300849,0.0,84.073958,33.550000,17.128884,1.087373e+01,20.598520,0.000000,[5 2],[0 2],['2016-12-01' '2017-03-07'],['2017-02-19' '2017-05-05']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,20.9,10.526502,2.182550,2.677792,0.797992,0.0,78.571810,12.649232,12.649232,0.000000e+00,12.649232,12.649232,[2 1 1],[2 1 2],['2016-12-01' '2017-02-08' '2017-04-12'],['2017-01-29' '2017-03-27' '2017-06-03']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,21.7,10.530758,2.263371,2.737578,0.935997,0.0,81.481362,14.700000,14.700000,1.776357e-15,14.700000,14.700000,[2 3],[1 0],['2016-12-01' '2017-02-13'],['2017-01-28' '2017-04-20']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,14.7,10.681133,2.202100,2.716949,0.808726,0.0,79.275598,12.600629,12.600629,0.000000e+00,12.600629,12.600629,[3],[2],['2016-12-01'],['2017-02-05']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,23.5,10.602672,2.240074,2.733010,0.969136,0.0,80.642673,15.100000,15.100000,1.776357e-15,15.100000,15.100000,[1 1 2],[1 2 1],['2016-12-01' '2017-02-02' '2017-04-05'],['2017-01-17' '2017-03-26' '2017-06-02']
0,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,X,14.7,10.681133,2.202100,2.716949,0.808726,0.0,79.275598,12.600629,12.600629,0.000000e+00,12.600629,12.600629,[3],[2],['2016-12-01'],['2017-02-05']
1,"front_nsga,tour_vio,rein_vio,metrics_pareto,10...",0,Y,23.5,10.602672,2.240074,2.733010,0.969136,0.0,80.642673,15.100000,15.100000,1.776357e-15,15.100000,15.100000,[1 1 2],[1 2 1],['2016-12-01' '2017-02-02' '2017-04-05'],['2017-01-17' '2017-03-26' '2017-06-02']

In [52]:
df_find.loc[df_find.Variation!="Article"].describe()

,Total throughput [kg],Max total backlog [kg],Mean total backlog [kg],std dev total backlog [kg],Median total backlog [kg],Min total backlog [kg],P(total backlog ≤ 0 kg),Max total inventory deficit [kg],Mean total inventory deficit [kg],std dev inventory deficit [kg],Median total inventory deficit [kg],Min total inventory deficit [kg]
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.0,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,213.518421,26.232445,8.485187,7.251881,8.091002,0.0,305.466724,84.448697,48.438859,25.194067,55.688486,2.177645
std,235.640293,10.767578,4.276138,3.109519,4.828961,0.0,153.940954,42.223871,22.735253,13.970551,26.612980,5.118762
min,6.200000,10.516891,2.182550,2.677792,0.797992,0.0,78.571810,12.600629,12.600629,0.000000,12.600629,0.000000
25%,16.825000,10.657046,2.335388,2.778178,1.329027,0.0,84.073958,33.550000,17.133641,10.873730,20.598520,0.000000
50%,65.450000,33.393946,11.251507,9.107387,10.923170,0.0,405.054252,112.500000,63.082995,33.655027,73.400000,0.000000
75%,498.800000,33.496439,11.415518,9.521399,11.500759,0.0,410.958656,112.500000,64.022893,34.328505,74.073749,0.000000
max,624.100000,33.611806,11.471166,9.692592,12.209427,0.0,412.961993,112.500000,64.659022,36.212344,74.950000,15.100000